.focusDiv {
    width: fit-content;
    width: -moz-fit-content;
    height: fit-content;
    height: -moz-fit-content;
    margin-left: auto;
    margin-right: auto;
}
.focusDiv:focus {
    border: 2px dashed red;
}
