@page "/"
<div class="TitleContainer">
<pre>
    ██████╗  ██████╗ ████████╗███╗   ██╗███████╗████████╗    ██████╗██╗  ██╗██╗██████╗  █████╗ 
    ██╔══██╗██╔═══██╗╚══██╔══╝████╗  ██║██╔════╝╚══██╔══╝   ██╔════╝██║  ██║██║██╔══██╗██╔══██╗
    ██║  ██║██║   ██║   ██║   ██╔██╗ ██║█████╗     ██║█████╗██║     ███████║██║██████╔╝╚█████╔╝
    ██║  ██║██║   ██║   ██║   ██║╚██╗██║██╔══╝     ██║╚════╝██║     ██╔══██║██║██╔═══╝ ██╔══██╗
    ██████╔╝╚██████╔╝   ██║   ██║ ╚████║███████╗   ██║      ╚██████╗██║  ██║██║██║     ╚█████╔╝
    ╚═════╝  ╚═════╝    ╚═╝   ╚═╝  ╚═══╝╚══════╝   ╚═╝       ╚═════╝╚═╝  ╚═╝╚═╝╚═╝      ╚════╝ 
</pre>
</div>
<div class="DisplayContainer">
    <BlazorChip8Emulator.Chip8Emulator />
</div>