@page "/"
<div class="CenterContainer">
<pre>
    ██████╗  ██████╗ ████████╗███╗   ██╗███████╗████████╗    ██████╗██╗  ██╗██╗██████╗  █████╗ 
    ██╔══██╗██╔═══██╗╚══██╔══╝████╗  ██║██╔════╝╚══██╔══╝   ██╔════╝██║  ██║██║██╔══██╗██╔══██╗
    ██║  ██║██║   ██║   ██║   ██╔██╗ ██║█████╗     ██║█████╗██║     ███████║██║██████╔╝╚█████╔╝
    ██║  ██║██║   ██║   ██║   ██║╚██╗██║██╔══╝     ██║╚════╝██║     ██╔══██║██║██╔═══╝ ██╔══██╗
    ██████╔╝╚██████╔╝   ██║   ██║ ╚████║███████╗   ██║      ╚██████╗██║  ██║██║██║     ╚█████╔╝
    ╚═════╝  ╚═════╝    ╚═╝   ╚═╝  ╚═══╝╚══════╝   ╚═╝       ╚═════╝╚═╝  ╚═╝╚═╝╚═╝      ╚════╝ 
</pre>
@path
</div>
<div class="DisplayContainer">
    <!--No background threads support on blazor wasm yet, so we will leave this for now, and use blazor server instead.-->
    <BlazorChip8Emulator.Chip8Emulator />
</div>
<div class="CenterContainer">
    <pre>
Original Keypad             Mapped Keys
+-+-+-+-+                  +-+-+-+-+
|1|2|3|C|                  |1|2|3|4|
+-+-+-+-+    ===>          +-+-+-+-+
|4|5|6|D|                  |Q|W|E|R|
+-+-+-+-+                  +-+-+-+-+
|7|8|9|E|                  |A|S|D|F|
+-+-+-+-+                  +-+-+-+-+
|A|0|B|F|                  |Z|X|C|V|
+-+-+-+-+                  +-+-+-+-+
    </pre>
</div>

@code{
    private string path;
    protected override Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            path = Path.GetFullPath(".");
        }

        return base.OnAfterRenderAsync(firstRender);
    }
}